
body {
    background-image: url("../images/whirlpool.png");
	background-color: #cccccc;
	color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. 
}
#p_pic {
    transform: rotate(90deg);
    width:300px;
    margin-top: 50px;
    margin-bottom: 40px;
   
}

#main_content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
    padding: 100px;
    margin: auto;
}

#content {
    background-color: white;
    border: 2px solid #DDD;
    margin: auto;
    padding: 60px;
    margin-bottom: 10px;
}

#social{
    background-color: white;
    border: 2px solid #DDD;
    margin: auto;
    padding: 60px;

}

#grey_div{
    background-color: grey;
    margin: 0 auto;
    height: 1.5px;
    width: 90%;
    margin-bottom: 15px;
}

#grey_div2{
    background-color: #999999;
    margin-bottom: 20px;
    height: 1.5px;
    width: 100%;
    margin-top: -22px;
}

#small_grey{
     background-color: grey;
    margin: 0 auto;
    height: 1.5px;
    width: 90%;
    margin-bottom: 10px;
}

a{
    color: #666666;
}

#name{
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;

}
h1,h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#name_con{
    padding-left: 0;
    padding-right: 0;
}

#blank{
    background-color: transparent;
}

#navbar2 {
    
    color: white;
	background-color: #666;
	height: 90px;
	border-top: 5px solid #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
    margin-top: 75px;
    margin-bottom: 0px;
    padding-top: 33px;


}

._email{
	height: 25px;
}
#message{
	height: 100px;
}

#sub{
	background-color: #4aaaa5;
	border: none;
	height: 35px;
	width: 100px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

textarea:focus, input:focus {
	color: #DDD;
}

input, select, textarea{
	width: 100%;
	color: #DDD;
}

textarea{
	height: 200px;
	margin-bottom: 20px;
	border-color: #DDD;
}




#oregon{
	
	color: white;
	background-color: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding:22px;
    width:280px;
    position:relative;
    bottom: 80px;
	
}

#header {
    background-color: white;
}


