#p_pic {
    transform: rotate(90deg);
    width: 300px;
    padding: 5%;
}

#main_content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
    padding: 100px;
    margin: auto;
}

#content {
    background-color: white;
    border: 2px solid #DDD;
    margin: auto;
    padding: 60px;
}

#social{
    background-color: white;
    border: 2px solid #DDD;
    margin: auto;
    padding: 60px;
}